/.idea
local.properties
.DS_Store
*~
*.iml
*.orig
*.rej
.gradle
/local.properties
build
/captures
.externalNativeBuild
/app/release
/app/.cxx
gradle/wrapper/gradle-wrapper.jar
/distribution/*
/distribution.video/*
