/.idea
local.properties
.DS_Store
*~
*.iml
java_*
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
/captures
.externalNativeBuild
/app/release
/app/.cxx
gradle/wrapper/gradle-wrapper.jar
/distribution/*
/distribution.video/*
/distribution.video
