<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutpro.baresip">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:installLocation="internalOnly"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.CALL_PRIVILEGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
                <data android:scheme="sip" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/accounts"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/account" >
        </activity>
        <activity
            android:name=".CodecsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/codecs"
            android:parentActivityName=".AccountActivity" >
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/contacts"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/contact"
            android:parentActivityName=".ContactsActivity" >
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/configuration"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".AudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/audio"
            android:parentActivityName=".ConfigActivity" >
        </activity>
        <activity
            android:name=".CallsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/call_history"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ChatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/chats"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/chat" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/about_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".BaresipService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:enabled="true" >
        </service>

        <receiver
            android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
